<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <a href="{% url 'users:profile' username=user.username %}">Mi Perfil</a>
        <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
        
    {% else %}
        <a href="{% url 'users:login' %}">Iniciar Sesión</a>
        <a href="{% url 'users:signup' %}">Registrarse</a>
    {% endif %}
</nav>
