{% extends 'base.html' %}
{% block title %} {{ forum.title }} | Foro {% endblock %}
{% load static %}
{% block content %}
<div class="forum-header">
    <h1>{{ forum.title }}</h1>
    <p>{{ forum.description }}</p>
</div>

<hr>

<div class="new-thread-section">
    {% if user.is_authenticated %}
        <h3>Crear un nuevo thread</h3>
        <form method="post" action="{% url 'forums:forum_detail' forum.faculty.short_name forum.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Publicar</button>
        </form>
    {% else %}
        <p>Para crear un tema debes <a href="{% url 'users:login' %}?next={{ request.path }}">iniciar sesión</a> o <a href="{% url 'users:signup' %}">registrarte</a>.</p>
    {% endif %}
</div>

<div class="threads-list">
    <h3>Threads</h3>
    {% if forum.threads.exists %}
        <ul>
            {% for thread in forum.threads.all %}
                <li>
                    <a href="{% url 'forums:thread_detail' thread.slug %}">
                        {{ thread.title }}
                    </a>
                    {{ thread.text }}
                    <small>Creado por {{ thread.author.username }} el {{ thread.date_created|date:"d M Y H:i" }}</small>
                    <div class="thread-votes">
                        <button class="vote-btn" data-url="{% url 'forums:vote' 'thread' thread.pk 'like' %}" data-target-id="thread-{{ thread.pk }}">
                            👍 <span id="like-count-thread-{{ thread.pk }}">{{ thread.likes.count }}</span>
                        </button>
                
                        <button class="vote-btn" data-url="{% url 'forums:vote' 'thread' thread.pk 'dislike' %}" data-target-id="thread-{{ thread.pk }}">
                            👎 <span id="dislike-count-thread-{{ thread.pk }}">{{ thread.dislikes.count }}</span>
                        </button>      
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no hay threads en este foro. ¡Sé el primero en crear uno!</p>
    {% endif %}
</div>
<script src="{% static 'js/votes.js' %}"></script>
{% endblock %}