{% extends 'base.html' %}
{% load static %}

{% block title %}{{ thread.author.username }} posteo "{{ thread.title }}"{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- Thread Header -->
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">{{ thread.title }}</h1>
            <p class="text-muted">
                Posted by <strong><a href="{% url 'users:profile' thread.author.username %}">{{ thread.author.username }}</a></strong>
                on {{ thread.date_created|date:"d M Y H:i" }}
            </p>
            <div class="thread-votes">
                <button class="vote-btn" data-url="{% url 'forums:vote' 'thread' thread.pk 'like' %}" data-target-id="thread-{{ thread.pk }}">
                    👍 <span id="like-count-thread-{{ thread.pk }}">{{ thread.likes.count }}</span>
                </button>
        
                <button class="vote-btn" data-url="{% url 'forums:vote' 'thread' thread.pk 'dislike' %}" data-target-id="thread-{{ thread.pk }}">
                    👎 <span id="dislike-count-thread-{{ thread.pk }}">{{ thread.dislikes.count }}</span>
                </button>      
            </div>      
            {% if user == thread.author %}
                <button><a href="{% url 'forums:thread_delete' thread.slug %}" class="btn btn-sm btn-danger">Delete</a></button>
            {% endif %}
            <hr>
            <div class="card-text">
                {{ thread.text }}
            </div>
        </div>
    </div>

    <!-- Add Reply Form -->
    {% if user.is_authenticated %}
        <div id="original-form-location">
            <div id="form-container">
                <h3>Dejar una respuesta</h3>
                <form id="reply-form" method="post" action="{% url 'forums:thread_detail' thread.slug %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <input type="hidden" name="parent_id" id="parent_id_field" value=""> 
                    
                    <button type="submit">Publicar Respuesta</button>
                    <button type="button" id="cancel-reply" style="display: none;">Cancelar / Responder al Hilo</button>
                </form>
            </div>
        </div>
    {% else %}
        <p class="mt-4"><a href="{% url 'users:login' %}?next={{ request.path }}">Login</a> to reply to this thread.</p>
    {% endif %}

    <!-- Replies Section -->
    <h3>Respuestas ({{ thread.replies.count }})</h3>

    <div class="thread-replies">
        {% for reply in root_replies %}
            {% include 'forums/includes/reply_snippet.html' with reply=reply %}
        {% empty %}
            <p class="text-muted">No replies yet.</p>
        {% endfor %}
    </div>

</div>
<script src="{% static 'js/votes.js' %}"></script>
<script src="{% static 'js/replies.js' %}"></script>
{% endblock %}